@import 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap';
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
}

.btn, .heading-2, .heading-1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.heading-1 {
  font-size: 3.2rem;
  letter-spacing: 1px;
  line-height: 1.6;
  margin: 3.5rem 0 0 0;
}
.heading-1--how-it-works {
  line-height: 1.4;
}

.heading-2 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(218, 28%, 13%);
  color: hsl(0, 0%, 100%);
  font-size: 1.4rem;
}

.u-center-container {
  max-width: 110rem;
  margin: 0 auto;
  padding-bottom: 17rem;
}
.u-center-container--hero {
  max-width: 70rem;
}
.u-center-container--features {
  max-width: 83rem;
}

.u-ta-center {
  text-align: center;
}

.hero {
  background: url(../../images/bg-curvy-desktop.svg) bottom no-repeat;
  background-color: hsl(217, 28%, 15%);
  padding-top: 9rem;
}
.hero__img {
  width: 90%;
}
.hero__text {
  margin: 3.5rem 12rem;
  font-size: 1.5rem;
  line-height: 1.6;
}

.how-it-works {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: center;
  gap: 10rem;
}

.how-it-works-image-container img {
  width: 100%;
}

.how-it-works-intro {
  display: grid;
  gap: 2rem;
}
.how-it-works-intro__text {
  line-height: 1.6;
}
.how-it-works-intro__link:link, .how-it-works-intro__link:active {
  max-width: max-content;
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: solid 1px hsl(176, 68%, 64%);
  padding-bottom: 0.5rem;
  color: hsl(176, 68%, 64%);
  transition: all ease-in-out 0.3s;
}
.how-it-works-intro__link:hover, .how-it-works-intro__link:visited {
  color: hsl(0, 0%, 100%);
}
.how-it-works-intro__link:hover, .how-it-works-intro__link:visited img {
  filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(200deg) brightness(100%) contrast(200%);
}

.btn {
  cursor: pointer;
  position: relative;
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  padding: 1.4rem 7rem;
  border: none;
  border-radius: 5rem;
  background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.4);
  z-index: 1;
  overflow: hidden;
}
.btn::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: hsl(176, 68%, 64%);
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}
.btn:hover::before {
  opacity: 1;
}
.btn--early-access {
  padding: 1.4rem 3rem;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 8rem;
  align-items: end;
}

.feature__icon {
  margin-bottom: 3rem;
}
.testimonials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
  gap: 4rem;
  padding-bottom: 35rem;
}

.testimonial {
  background-color: hsl(219, 30%, 18%);
  padding: 4rem 2.8rem;
  border-radius: 1rem;
  position: relative;
}
.testimonial:first-child::before {
  content: url(../../images/bg-quotes.png);
  top: -15%;
  left: -3%;
  position: absolute;
  z-index: -1;
}
.testimonial__text {
  line-height: 1.6;
}

.testimonial-user-box {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2.8rem;
  letter-spacing: 0.5px;
}
.testimonial-user-box__image {
  width: 2.8rem;
  border-radius: 100%;
}
.testimonial-user-box__name {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.2rem;
}
.testimonial-user-box__occupation {
  font-size: 1rem;
}

.early-access {
  background-color: hsl(217, 28%, 15%);
  text-align: center;
  width: 55%;
  padding: 5rem 5.5rem 4rem;
  border-radius: 0.8rem;
  position: absolute;
  top: -29%;
  left: 50%;
  transform: translatex(-50%);
}
.early-access__text {
  margin: 2.5rem 0 3.5rem;
  line-height: 1.6;
}
.early-access__cta-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

#email-early-access {
  border: none;
  background-color: hsl(0, 0%, 100%);
  width: 68%;
  padding: 1.3rem 3rem;
  border-radius: 5rem;
  font-family: inherit;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.4);
}
#email-early-access::placeholder {
  color: #ddd;
}
#email-early-access:focus {
  outline: none;
}

#error-msg {
  display: none;
  padding: 1rem 0 0 3rem;
  text-align: left;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: hsl(0, 100%, 63%);
}

.header {
  padding: 6rem 7rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(217, 28%, 15%);
}
.header__logo {
  width: 14rem;
}

.navigation__list {
  display: flex;
  gap: 6rem;
}
.navigation__link:link, .navigation__link:visited {
  color: hsl(0, 0%, 100%);
  font-size: 1.6rem;
}
.navigation__link:after {
  display: block;
  content: "";
  border-bottom: solid 1px hsl(0, 0%, 100%);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.navigation__link:hover:after {
  transform: scaleX(1);
}
.navigation__link:hover, .navigation__link:active {
  font-weight: 700;
}

.footer {
  background-color: hsl(216, 53%, 9%);
  padding-top: 20rem;
  position: relative;
}

.footer-logo {
  padding: 0 0 3.5rem 10rem;
}

.footer-4-cols-wrapper {
  display: grid;
  grid-template-columns: 1.8fr 1fr 0.5fr 0.5fr 1fr;
  gap: 7rem;
  padding: 0 10rem 9.5rem;
}

.col-address {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: start;
  gap: 2.5rem;
  font-size: 1.5rem;
}
.col-address img {
  transform: translateY(0.4rem);
}

.col-contacts-wrapper {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  row-gap: 2rem;
  column-gap: 2.5rem;
}

.col-contacts__link:link, .col-contacts__link:visited {
  display: inline-block;
  color: hsl(0, 0%, 100%);
  font-size: 1.4rem;
}
.col-contacts__link:hover, .col-contacts__link:active {
  font-weight: 700;
}

.col-links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.col-links__link:link, .col-links__link:visited {
  display: inline-block;
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
}
.col-links__link:hover, .col-links__link:active {
  font-weight: 700;
}

.col-socials {
  display: flex;
  gap: 2rem;
}
.col-socials__link:link, .col-socials__link:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
  border-radius: 50%;
  border: solid 1px hsl(0, 0%, 100%);
  width: 3.5rem;
  height: 3.5rem;
  transition: all ease-in-out 0.3s;
}
.col-socials__link:hover, .col-socials__link:active {
  color: hsl(176, 68%, 64%);
  border: 1px solid hsl(176, 68%, 64%);
}

.attribution {
  width: 100%;
  padding: 0.5rem 0;
  background-color: hsl(219, 30%, 18%);
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif;
  text-align: center;
}
.attribution a:link, .attribution a:active {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  transition: all ease-in-out 0.3s;
}
.attribution a:hover, .attribution a:visited {
  color: hsl(176, 68%, 64%);
}

/*# sourceMappingURL=style.css.map */
