// color variables
$intro-email-bkg: hsl(217, 28%, 15%);
$main-bkg: hsl(218, 28%, 13%);
$footer-bkg: hsl(216, 53%, 9%);
$testimonials-bkg: hsl(219, 30%, 18%);

$cta-gradient-cyan: hsl(176, 68%, 64%);
$cta-gradient-blue: hsl(198, 60%, 50%);
$error: hsl(0, 100%, 63%);

$white: hsl(0, 0%, 100%);

// fonts

$font-heading-cta-headernav: 'Raleway', sans-serif;
$font-body: 'Open Sans', sans-serif;

// animation

$transition: (
  easing: ease-out,
  speed-slow: 250ms,
  speed-fast: 125ms,
);
