.btn {
  cursor: pointer;
  position: relative;
  display: inline-block;

  font-size: 1.3rem;
  font-weight: 700;
  color: $white;

  padding: 1.4rem 7rem;
  border: none;
  border-radius: 5rem;
  background-image: linear-gradient(
    to right,
    $cta-gradient-cyan,
    $cta-gradient-blue
  );
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.4);
  z-index: 1;
  overflow: hidden;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $cta-gradient-cyan;
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
  }

  &:hover::before {
    opacity: 1;
  }

  &--early-access {
    padding: 1.4rem 3rem;
  }
}
