.early-access {
  background-color: $intro-email-bkg;
  text-align: center;
  width: 55%;
  padding: 5rem 5.5rem 4rem;
  border-radius: 0.8rem;

  position: absolute;
  top: -29%;
  left: 50%;
  transform: translatex(-50%);

  &__text {
    margin: 2.5rem 0 3.5rem;
    line-height: 1.6;
  }
  &__cta-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
  }
}

#email-early-access {
  // display: block;
  border: none;
  width: 68%;
  padding: 1.3rem 3rem;
  border-radius: 5rem;
  font-family: inherit;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.4);

  &::placeholder {
    color: #ddd;
  }

  &:focus {
    outline: none;
  }
}
