.hero {
  background: url(../../images/bg-curvy-desktop.svg) bottom no-repeat;
  background-color: $intro-email-bkg;
  padding-top: 9rem;
  &__img {
    width: 90%;
  }

  &__text {
    margin: 3.5rem 12rem;
    font-size: 1.5rem;
    line-height: 1.6;
  }
}
