.how-it-works {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: center;
  gap: 10rem;
}

.how-it-works-image-container img {
  width: 100%;
}

.how-it-works-intro {
  display: grid;
  gap: 2rem;

  &__text {
    line-height: 1.6;
  }

  &__link {
    &:link,
    &:active {
      position: relative;
      display: flex;
      gap: 1rem;
      align-items: center;

      color: $cta-gradient-cyan;

      transition: all ease-in-out 0.3s;
    }

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      bottom: -0.5rem;
      height: 1px;
      width: 30.5%;
      background-color: $cta-gradient-cyan;

      // transition: all ease-in-out 0.3s;
    }

    &:hover,
    &:visited {
      color: $white;
    }

    &:hover::after {
      background-color: $white;
      transition: all ease-in-out 0.3s;
    }

    &:hover,
    &:visited img {
      filter: invert(000%) sepia(100%) saturate(0%) hue-rotate(200deg)
        brightness(100%) contrast(200%);
    }
  }
}
