.how-it-works {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: center;
  gap: 10rem;
}

.how-it-works-image-container img {
  width: 100%;
}

.how-it-works-intro {
  display: grid;
  gap: 2rem;

  &__text {
    line-height: 1.6;
  }

  &__link {
    &:link,
    &:active {
      max-width: max-content;
      position: relative;
      display: flex;
      align-items: center;
      gap: 1rem;
      border-bottom: solid 1px $cta-gradient-cyan;
      padding-bottom: 0.5rem;

      color: $cta-gradient-cyan;

      transition: all ease-in-out 0.3s;
    }

    &:hover,
    &:visited {
      color: $white;
    }

    &:hover,
    &:visited img {
      filter: invert(000%) sepia(100%) saturate(0%) hue-rotate(200deg)
        brightness(100%) contrast(200%);
    }
  }
}
