.testimonials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
  gap: 4rem;
  padding-bottom: 35rem;
}

.testimonial {
  background-color: $testimonials-bkg;
  padding: 4rem 2.8rem;
  border-radius: 1rem;
  position: relative;

  &:first-child::before {
    content: url(../../images/bg-quotes.png);
    top: -15%;
    left: -3%;

    position: absolute;
    z-index: -1;
    // overflow: hidden;
  }

  &__text {
    line-height: 1.6;
  }
}

.testimonial-user-box {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2.8rem;
  letter-spacing: 0.5px;

  &__image {
    width: 2.8rem;
    border-radius: 100%;
  }

  &__name {
    font-size: 1.2rem;
    font-weight: 700;

    margin-bottom: 0.2rem;
  }

  &__occupation {
    font-size: 1rem;
  }
}
