body {
  font-family: $font-body;
  line-height: 1.4;
}

%heading {
  font-family: $font-heading-cta-headernav;
  font-weight: 700;
}

.heading-1 {
  @extend %heading;
  font-size: 3rem;
  letter-spacing: 1px;
  line-height: 1.6;
  margin: 3.5rem 0 0 0;

  &--how-it-works {
    line-height: 1.4;
  }
}

.heading-2 {
  @extend %heading;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.btn {
  @extend %heading;
}
