.header {
  padding: 6rem 7rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $intro-email-bkg;

  &__logo {
    width: 14rem;
  }
}

.navigation {
  &__list {
    display: flex;
    gap: 6rem;
  }

  &__link {
    &:link,
    &:visited {
      color: $white;
      font-size: 1.6rem;
    }

    &:after {
      display: block;
      content: '';
      border-bottom: solid 1px $white;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;
    }

    &:hover:after {
      transform: scaleX(1);
    }

    &:hover,
    &:active {
      font-weight: 700;
    }
  }
}
